        /* Variables globales con el selector "root" 
        para refereir al elemento raiz del html
        y en este caso definir colores*/
        :root {
            --color-normal:   #cecdcd;
            --color-fire:     #EE8130;
            --color-water:    #6390F0;
            --color-electric: #F7D02C;
            --color-grass:    #7AC74C;
            --color-ice:      #96D9D6;
            --color-fighting: #C22E28;
            --color-poison:   #A33EA1;
            --color-ground:   #E2BF65;
            --color-flying:   #44b7bf;
            --color-psychic:  #F95587;
            --color-bug:      #d1ffc1;
            --color-rock:     #dfa860;
            --color-ghost:    #735797;
            --color-dragon:   #4143bb;
            --color-dark:     #524e4e;
            --color-steel:    #B7B7CE;
            --color-fairy:    #D685AD;
        }

        /* 💡Cambiar el color de las tarjetas según el tipo de Pokemon*/

        .bg-fire {
            background-color: var(--color-fire);
        }

        .bg-water {
            background-color: var(--color-water);
        }

        .bg-grass {
            background-color: var(--color-grass);
        }

        .bg-normal {
            background-color: var(--color-normal);
        }

        .bg-electric {
            background-color: var(--color-electric);
        }

        .bg-ice {
            background-color: var(--color-ice);
        }

        .bg-fighting {
            background-color: var(--color-fighting);
        }

        .bg-poison {
            background-color: var(--color-poison);
        }

        .bg-ground {
            background-color: var(--color-ground);
        }

        .bg-flying {
            background-color: var(--color-flying);
        }

        .bg-psychic {
            background-color: var(--color-psychic);
        }

        .bg-bug {
            background-color: var(--color-bug);
        }

        .bg-rock {
            background-color: var(--color-rock);
        }

        .bg-ghost {
            background-color: var(--color-ghost);
        }

        .bg-dragon {
            background-color: var(--color-dragon);
        }

        .bg-steel {
            background-color: var(--color-steel);
        }

        .bg-dark {
            background-color: var(--color-dark) !important;
        }

        .bg-fairy {
            background-color: var(--color-fairy);
        }

        .card-img-top {
         max-width: 100%;
         height: auto;
        }
    